<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/appointment" tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Appointment</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button routerLink="/patient"tab="speakers">
      <ion-icon name="person"></ion-icon>
      <ion-label>Patient</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">

      <ion-label>Payment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>